@charset "UTF-8";

body {
    width: 1000px;
    height: 500px;
    margin: auto;
    padding: 50px;
    /*background-color: #e8e8ef;*/
    background-color: rgb(10, 17, 15);
}

div#calculadora {
    background-image: linear-gradient(rgb(190, 190, 190),rgb(190, 190, 190), rgb(190, 190, 190), rgb(190, 190, 190), rgb(115, 115, 115));
    height: 310px;
    width: 300px;
    padding: 5px;
    margin: auto;
    box-shadow: 1px 1px 20px #646464;
    border-radius: 15px;
}

input.numero {
    border-radius: 15px;
    border-style: none;
    box-shadow: 2px 2px 2px #666464;
    position: relative;
    width: 250px;
    padding: 5px;
    margin: 20px;
}

input#numero:hover {
    background: rgb(219, 216, 211);
}

input.botao {
    position: relative;
    height: 40px;
    width: 40px;
    background-color:rgba(0, 0, 0, .8);
    align-items: center;
    border-radius: 5px;
    border-style: none;
    box-shadow: 2px 2px 2px #666464;
    margin: 5px;
    font-size: 20px;
    padding: 10px;
    color: white;
}

input.botao:hover {
    background-color: rgb(71, 70, 70);
}

input#idMultiplicacao {
    margin-left: 50px;
}

input#multiplicacao {
    margin-left: 50px;
}

p#resultado {
    margin-left: 25px;
    padding-top: 25px;
    text-decoration: solid;
    font-size: 15pt;
    font-weight: bold;
    color: white;
}

footer {
    display: block;
    margin-top: 90px;
    margin-left: 180px;
    padding: 50px;
    align-content: center;
}

footer p{
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

footer p#copy{
    margin-left: 125px;
}

footer a{
    font-weight: bolder;
    color: black;
}

footer a:hover{
    color: #666464;
}